# call in the libraries

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

# Import the DataSet

In [3]:
data = pd.read_csv('../raw_data/Tokyo_Restaurant_Reviews_Tabelog.csv')
data.head()

,store_id,name,nearest_station,nearest_distance,genre,rating_val,review_cnt,save_cnt,budget_dinner,budget_lunch,holiday,address,prefecture,municipalities_1,municipalities_2,municipalities_3
0,13097553,個室北国炉端 ときしらず 飯田橋駅前,飯田橋駅,82.0,魚介料理・海鮮料理、居酒屋、日本料理,3.12,61.0,2848.0,"￥3,000～￥3,999","￥3,000～￥3,999",-,東京都千代田区飯田橋4-9-8 大和ビル 5F,東京,千代田区,飯田橋,-
1,13115133,祭 飯田橋東口駅前,飯田橋駅,65.0,居酒屋、和食（その他）、焼鳥,3.25,29.0,1358.0,"￥2,000～￥2,999",-,-,東京都千代田区飯田橋4-9-8 飯田橋プラザ 1F,東京,千代田区,飯田橋,-
2,13139364,鳥酎 飯田橋,飯田橋駅,190.0,焼鳥、居酒屋、日本酒バー,3.46,119.0,10893.0,"￥3,000～￥3,999",～￥999,-,東京都千代田区飯田橋4-7-11 カクタス飯田橋 B1F,東京,千代田区,飯田橋,-
3,13260247,炭火焼き鳥 すいけん 飯田橋,飯田橋駅,307.0,居酒屋、焼鳥、日本酒バー,3.06,14.0,725.0,"￥2,000～￥2,999","￥1,000～￥1,999",-,東京都千代田区飯田橋3-3-7 秋穂セントラルビル 1-B,東京,千代田区,飯田橋,-
4,13225614,個室居酒屋×博多焼き鳥 巻きの助 飯田橋店,飯田橋駅,259.0,居酒屋、焼鳥、もつ鍋,3.07,35.0,2475.0,"￥3,000～￥3,999",-,-,東京都千代田区飯田橋4-5-6 ECS第3ビル 1F,東京,千代田区,飯田橋,-

# Play with the Data

In [4]:
data.describe()

,store_id,nearest_distance,rating_val,review_cnt,save_cnt
count,1.259220e+05,119003.000000,108694.000000,115972.000000,125085.000000
mean,1.316399e+07,280.726805,3.175088,48.825432,2307.352360
std,8.361454e+04,196.928513,0.183307,123.528853,6850.869567
min,1.300000e+07,0.000000,3.000000,1.000000,1.000000
25%,1.309234e+07,137.000000,3.040000,4.000000,47.000000
50%,1.317712e+07,232.000000,3.090000,14.000000,243.000000
75%,1.324002e+07,368.000000,3.280000,41.000000,1230.000000
max,1.328212e+07,1000.000000,4.710000,4465.000000,187198.000000

In [5]:
data.head()

,store_id,name,nearest_station,nearest_distance,genre,rating_val,review_cnt,save_cnt,budget_dinner,budget_lunch,holiday,address,prefecture,municipalities_1,municipalities_2,municipalities_3
0,13097553,個室北国炉端 ときしらず 飯田橋駅前,飯田橋駅,82.0,魚介料理・海鮮料理、居酒屋、日本料理,3.12,61.0,2848.0,"￥3,000～￥3,999","￥3,000～￥3,999",-,東京都千代田区飯田橋4-9-8 大和ビル 5F,東京,千代田区,飯田橋,-
1,13115133,祭 飯田橋東口駅前,飯田橋駅,65.0,居酒屋、和食（その他）、焼鳥,3.25,29.0,1358.0,"￥2,000～￥2,999",-,-,東京都千代田区飯田橋4-9-8 飯田橋プラザ 1F,東京,千代田区,飯田橋,-
2,13139364,鳥酎 飯田橋,飯田橋駅,190.0,焼鳥、居酒屋、日本酒バー,3.46,119.0,10893.0,"￥3,000～￥3,999",～￥999,-,東京都千代田区飯田橋4-7-11 カクタス飯田橋 B1F,東京,千代田区,飯田橋,-
3,13260247,炭火焼き鳥 すいけん 飯田橋,飯田橋駅,307.0,居酒屋、焼鳥、日本酒バー,3.06,14.0,725.0,"￥2,000～￥2,999","￥1,000～￥1,999",-,東京都千代田区飯田橋3-3-7 秋穂セントラルビル 1-B,東京,千代田区,飯田橋,-
4,13225614,個室居酒屋×博多焼き鳥 巻きの助 飯田橋店,飯田橋駅,259.0,居酒屋、焼鳥、もつ鍋,3.07,35.0,2475.0,"￥3,000～￥3,999",-,-,東京都千代田区飯田橋4-5-6 ECS第3ビル 1F,東京,千代田区,飯田橋,-

In [6]:
data.tail()

,store_id,name,nearest_station,nearest_distance,genre,rating_val,review_cnt,save_cnt,budget_dinner,budget_lunch,holiday,address,prefecture,municipalities_1,municipalities_2,municipalities_3
125917,13269978,88 cafe,-,NaN,カフェ,3.03,2.0,13.0,-,-,-,東京都小笠原村母島字静沢,東京,小笠原村,母島,-
125918,13245445,お食事処 めぐろ,-,NaN,居酒屋・ダイニングバー（その他）、定食・食堂,3.05,3.0,31.0,"￥4,000～￥4,999",-,-,東京都小笠原村母島,東京,小笠原村,母島,-
125919,13272172,アンナビーチ母島ユースホステル,-,NaN,その他,NaN,NaN,1.0,-,-,-,東京都小笠原村母島静沢,東京,小笠原村,母島,-
125920,13272155,アイランドリゾート母島 ナンプー,-,NaN,旅館,NaN,NaN,3.0,-,-,-,東京都小笠原村母島字元地,東京,小笠原村,母島,-
125921,13269979,島っ娘,-,NaN,居酒屋,NaN,NaN,1.0,-,-,日曜日,東京都小笠原村母島元地195-8,東京,小笠原村,母島,-

In [7]:
#looks like budget dinner and lunch can be turned into integers or floats
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125922 entries, 0 to 125921
Data columns (total 16 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   store_id          125922 non-null  int64
 1   name              125922 non-null  object
 2   nearest_station   125922 non-null  object
 3   nearest_distance  119003 non-null  float64
 4   genre             125922 non-null  object
 5   rating_val        108694 non-null  float64
 6   review_cnt        115972 non-null  float64
 7   save_cnt          125085 non-null  float64
 8   budget_dinner     125922 non-null  object
 9   budget_lunch      125922 non-null  object
 10  holiday           125922 non-null  object
 11  address           125922 non-null  object
 12  prefecture        125922 non-null  object
 13  municipalities_1  125922 non-null  object
 14  municipalities_2  125922 non-null  object
 15  municipalities_3  125922 non-null  object
dtypes: float64(4), int64(1), object(11)
memory usage: 15.4+ MB

In [42]:
# Need to one hot encode the municipalities
from sklearn.preprocessing import OneHotEncoder

OneHotEncoder()

In [14]:
#since we will be focusing on tokyo, we can get rid of the prefecture collumn
#not sure how useful municipalities_3 will be maybe get rid of it. 
data.nunique()

store_id            125922
name                118915
nearest_station        666
nearest_distance      1001
genre                18949
rating_val             159
review_cnt            1226
save_cnt             14818
budget_dinner           18
budget_lunch            18
holiday              13694
address             106200
prefecture               1
municipalities_1        58
municipalities_2      1435
municipalities_3         1
dtype: int64

In [24]:
# looks like nearest_station, Rating_value, rating_cnt, save_cnt, have missing data.
(data.isnull().sum())/data.count()

store_id            0.000000
name                0.000000
nearest_station     0.000000
nearest_distance    0.058141
genre               0.000000
rating_val          0.158500
review_cnt          0.085797
save_cnt            0.006691
budget_dinner       0.000000
budget_lunch        0.000000
holiday             0.000000
address             0.000000
prefecture          0.000000
municipalities_1    0.000000
municipalities_2    0.000000
municipalities_3    0.000000
dtype: float64

In [27]:
#made a separate data set with all the missing data to see what it would be like to change them
missing_data = data[['nearest_distance','rating_val','review_cnt','save_cnt']]
#there isn't too much missing data, so we can probably use nearest neighbors to fill in the missing values.
missing_data

        nearest_distance  rating_val  review_cnt  save_cnt
0                   82.0        3.12        61.0    2848.0
1                   65.0        3.25        29.0    1358.0
2                  190.0        3.46       119.0   10893.0
3                  307.0        3.06        14.0     725.0
4                  259.0        3.07        35.0    2475.0
...                  ...         ...         ...       ...
125917               NaN        3.03         2.0      13.0
125918               NaN        3.05         3.0      31.0
125919               NaN         NaN         NaN       1.0
125920               NaN         NaN         NaN       3.0
125921               NaN         NaN         NaN       1.0

[125922 rows x 4 columns]

## Get rid of duplicates

In [23]:
data.drop_duplicates().count()

store_id            125922
name                125922
nearest_station     125922
nearest_distance    119003
genre               125922
rating_val          108694
review_cnt          115972
save_cnt            125085
budget_dinner       125922
budget_lunch        125922
holiday             125922
address             125922
prefecture          125922
municipalities_1    125922
municipalities_2    125922
municipalities_3    125922
dtype: int64

# deciding what Data is important

In [32]:
column_names = data.columns.tolist()
column_names

['store_id',
 'name',
 'nearest_station',
 'nearest_distance',
 'genre',
 'rating_val',
 'review_cnt',
 'save_cnt',
 'budget_dinner',
 'budget_lunch',
 'holiday',
 'address',
 'prefecture',
 'municipalities_1',
 'municipalities_2',
 'municipalities_3']

In [34]:
#i figure this data has the most weight interms of how people will choose what comes up.
usuable_data = data[['store_id', 'name', 'genre', 'budget_dinner', 'budget_lunch','address']]
usuable_data

,store_id,name,genre,budget_dinner,budget_lunch,address
0,13097553,個室北国炉端 ときしらず 飯田橋駅前,魚介料理・海鮮料理、居酒屋、日本料理,"￥3,000～￥3,999","￥3,000～￥3,999",東京都千代田区飯田橋4-9-8 大和ビル 5F
1,13115133,祭 飯田橋東口駅前,居酒屋、和食（その他）、焼鳥,"￥2,000～￥2,999",-,東京都千代田区飯田橋4-9-8 飯田橋プラザ 1F
2,13139364,鳥酎 飯田橋,焼鳥、居酒屋、日本酒バー,"￥3,000～￥3,999",～￥999,東京都千代田区飯田橋4-7-11 カクタス飯田橋 B1F
3,13260247,炭火焼き鳥 すいけん 飯田橋,居酒屋、焼鳥、日本酒バー,"￥2,000～￥2,999","￥1,000～￥1,999",東京都千代田区飯田橋3-3-7 秋穂セントラルビル 1-B
4,13225614,個室居酒屋×博多焼き鳥 巻きの助 飯田橋店,居酒屋、焼鳥、もつ鍋,"￥3,000～￥3,999",-,東京都千代田区飯田橋4-5-6 ECS第3ビル 1F
...,...,...,...,...,...,...
125917,13269978,88 cafe,カフェ,-,-,東京都小笠原村母島字静沢
125918,13245445,お食事処 めぐろ,居酒屋・ダイニングバー（その他）、定食・食堂,"￥4,000～￥4,999",-,東京都小笠原村母島
125919,13272172,アンナビーチ母島ユースホステル,その他,-,-,東京都小笠原村母島静沢
125920,13272155,アイランドリゾート母島 ナンプー,旅館,-,-,東京都小笠原村母島字元地
125921,13269979,島っ娘,居酒屋,-,-,東京都小笠原村母島元地195-8

In [35]:
(usuable_data.isnull().sum())/usuable_data.count()

store_id         0.0
name             0.0
genre            0.0
budget_dinner    0.0
budget_lunch     0.0
address          0.0
dtype: float64

In [38]:
usuable_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125922 entries, 0 to 125921
Data columns (total 6 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   store_id       125922 non-null  int64
 1   name           125922 non-null  object
 2   genre          125922 non-null  object
 3   budget_dinner  125922 non-null  object
 4   budget_lunch   125922 non-null  object
 5   address        125922 non-null  object
dtypes: int64(1), object(5)
memory usage: 5.8+ MB

In [39]:
usuable_data.nunique()

store_id         125922
name             118915
genre             18949
budget_dinner        18
budget_lunch         18
address          106200
dtype: int64

# KNN is the way to go

## import the libraries

In [40]:
from sklearn.neighbors import KNeighborsRegressor
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

## pick my X and y

In [41]:
X = 
y =

SyntaxError: invalid syntax (1563017556.py, line 1)

## split into train and test data

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
k = 5  # Number of neighbors to consider (you can adjust this value)
knn = KNeighborsRegressor(n_neighbors=k)

In [ ]:
knn.fit(X_train, y_train)

In [ ]:
y_pred = knn.predict(X_test)

In [ ]:
mse = mean_squared_error(y_test, y_pred)